<div class="container">
  <h1><%= @user.name %>のページ</h1>
  <table>
  <tr>
    <th class="top-font-color">ユーザー名</th>
    <td class="top-font-color"><%= @user.name %></td>
  </tr>
  <tr>
    <th class="top-font-color">メールアドレス</th>
    <td class="top-font-color"><%= @user.email %></td>
  </tr>
  </table>
  <br>

  <% if @user.image.url == nil %>
    <h3 class="top-font-color">アイコンを設定してください</h3>

    <%= form_with(model:@user, local: true, url:user_path) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this feed from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :image %>
        <%= image_tag(@user.image.url) if @user.image.url %>
        <%= image_tag(@user.image.thumb.url) if @user.image.url %>
        <%= form.file_field :image, id: :feed_image %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  <% else %>
    <p>
      <strong class="top-font-color">アイコン</strong>
    </p>
    <p>
      <%= image_tag @user.image %>
    </p>
  <% end %>

  <%= link_to "編集", edit_user_path(@user.id), class:"btn btn-danger col-md-offset-11" %>


  <br><br>
  <h1>お気に入り一覧</h1>
  <table class="table">
    <% @favorites_achievements.each do |fav| %>
    <tr class="warning">
      <td class="warning"><%= link_to "#{fav.content}", achievement_path(fav.id), class:"table-font-color" %></td>
    </tr>
    <% end %>
  </table>
</div>