<%= form_with(model:@achievement, local:true, url:choose_new_or_edit) do |form| %>
    <% if @achievement.errors.any? %>
        <div>
            <h2><%= @achievement.errors.count %>件のエラーがあります。</h2>

            <ul>
                <% @achievement.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>    
        

    <div>
        <%= form.text_area :content, class:"form-control" %>
    </div>
    <br>

    <% if @achievement.image.url == nil %>
        <div class="field">
            <strong class="top-font-color">画像を選択してください：</strong>
            <%= form.file_field :image, id: :feed_image %>
            <%= form.hidden_field :image_cache %>
        </div>
        <br>
    <% else %>
        <p>
          <strong class="top-font-color">画像</strong>
        </p>
        <p>
            <%= image_tag(@achievement.image) %>
            <%= form.file_field :image, id: :feed_image %>
            <%= form.hidden_field :image_cache %>
        </p>    
    <% end %>
  
    <div class="button-wrapper">
        <div class="row">
            <%= form.submit "つぶやく", class: "btn btn-warning col-md-offset-8 col-md-3 col-sm-offset-8 col-sm-3 col-xs-offset-8 col-xs-3"%>
        </div>
    </div>

<% end %>


