<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>詳細画面</h4>
        </div>
    

        <div class="panel-body">
            <%= form_with(model:@achievement, url:achievement_index_path, local:true) do |form| %>
                <%= form.hidden_field :content %>
                <p><%= @achievement.content %></p>
            <% end %>
        
            <% unless @achievement.user == current_user %>
              <% if @favorite.present? %>
                <%= link_to 'お気に入り解除する', favorite_path(achievement_id: @achievement.id), method: :delete, class: 'btn btn-warning col-md-offset-4 col-md-4' %>
              <% else %>
                <%= link_to 'お気に入りする', favorites_path(achievement_id: @achievement.id), method: :post, class: 'btn btn-warning col-md-offset-4 col-md-4' %>
              <% end %>
            <% end %>

        </div>
    </div>
</div>